*{
  margin:0;
  padding: 0;
  font-family:Century Gothic; 
}
.btn{
  float: right;
}
.navbar-brand img{
  width:50px;
}
 .container-about {
  padding: 100px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.navbarNav{
  float:right;
}

.collapse navbar-collapse{
  float: right;
}
.services{padding: 50px;
  text-align: center;
  background-color: #CACFD2;
  color: black;}


.gallery{padding: 50px;
  text-align: center;
  background-color: #212F3C;
  color:white;}

    #menu {
    padding-bottom: 0;
  }

  #menu .container {
    width: 100%;
  }

  #menu .col-md-4 {
    margin: 0;
    padding: 0;
  }

  .menu-thumb img {
    width: 100%;
    transition: 0.5s;
  }

  .menu-thumb:hover img {
    transform: scale(1.15);
  }

  #menu .menu-thumb {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 102%;
  }

  .menu-thumb .menu-info {
    position: absolute;
    top: 60%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: left;
    padding: 25px 30px;
    transition: 0.5s 0.2s;
  }

  .menu-info .menu-item {
    float: left;
  }

  .menu-info .menu-price {
    float: right;
  }

  .menu-info .menu-price span {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    display: block;
    margin-top: 10px;
  }

  .menu-thumb .menu-info h3,
  .menu-thumb .menu-info p,
  .menu-thumb .menu-info span {
    transform: translateY(100%);
    opacity: 0;
    display: block;
    transition: 0.5s 0.2s;
    color: #ffffff;
    z-index: 2;
    position: relative;
  }

  .menu-thumb .menu-info h3 {
    margin-top: 0;
  }

  .menu-thumb .menu-info p {
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .menu-thumb:hover .menu-info h3,
  .menu-thumb:hover .menu-info p,
  .menu-thumb:hover .menu-info span {
    transform: translateY(0px);
    opacity: 1;
  }

  .menu-thumb:hover .menu-info {
    background: rgba(0,0,0,0.8);
  }

.ic{
  float: right;
  text-align: center;
}
.lg img{
  float: left;
  padding: 12px 14px;
width: 70px;}

  .lg{
    float: left;
    width: 200px;
      padding: 2px 4px;

  }
  .lg a{
    float: left;
    width: 200px;
      padding: 2px 4px;

  }
  
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.topnav {
  overflow: hidden;
  background-color: #333;
  
}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 13px;

}

.topnav-right a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}

.topnav-right {
  float: right;
}
.topnav img{
  width:40px;

}